<%= form_with model: User, url: registration_create_path, method: :post, class: "w-full mt-3" do |form| %>
  <h1 class="text-xl">Create an account</h1>

  <div class="mt-2">
    <label for="email_address">Enter your e-mail</label>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "example.email@example.com", value: params[:email_address], class: "input w-full mt-1 mb-1" %><br>
    <%= turbo_frame_tag "email_address_errors" %>
  </div>

  <div class="mt-3">
    <label for="password">Enter your password</label>
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "********", maxlength: 72, class: "input w-full mt-1 mb-1" %><br>
    <%= turbo_frame_tag "password_errors" %>
  </div>

  <div class="mt-3">
    <label for="password_confirmation">Confirm your password</label>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", placeholder: "********", maxlength: 72, class: "input w-full mt-1 mb-1" %><br>
    <%= turbo_frame_tag "password_confirmation_errors" %>
  </div>

  <div class="flex w-full justify-between mt-3">
    <%= form.submit "Create", class: "btn btn-primary w-full" %>
  </div>

  <div class="flex flex-col w-full mt-3">
    <h2 class="text-xl">Already have an account? Not a problem!</h2>
    <%= link_to "Sign in", new_session_path, class: "btn btn-info w-full mt-2" %>
  </div>
<% end %>
